*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
img {
  display: block;
}
h3, 
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "open-sans", sans-serif;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
.section {
  padding: 5remm 0;
}
.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}
.gift-img {
  margin-bottom: 2rem;
}
.gift-info h3 {
  text-transform: uppercase;
  color: hsl(205, 63%, 48%);
}
.gift-info p {
  color: hsl(209, 23%, 60%);
}
.gift-img {
  margin-bottom: 0;
}
.gift-info p {
  margin: 2rem 0;
}
.deadline {
  display: flex;
}
.deadline-format {
  background: hsl(209, 61%, 16%);
  color: #fff;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;

}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.25rem;
}